langchain
langchain-community
PyPDF2
openai
wave
streamlit==1.25.0
tiktoken
nltk
audio_recorder_streamlit
streamlit-option-menu
streamlit-lottie
faiss-cpu
boto3
Ipython
dotenv
streamlit_extras
assemblyai
streamlit_lottie
faiss-cpu
#aws
#azure-cognitiveservices-speech